<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Super social net!",        articles_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Authentification", users_path %></li>
          <li><%= link_to "Sign in",          signin_path %></li>
          <li><%= link_to "Sign out",         signout_path %></li>
          <li><%= link_to "New post!",        new_article_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>